# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.env/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Data files (large / generated)
# ===============================
data/raw/ratings.csv
data/raw/ratings_reduced.csv
data/raw/ratings_sample.csv

data/processed/

# ===============================
# Results
# ===============================
results/*.csv
results/*.png

# ===============================
# Logs
# ===============================
*.log
